/* Добавляем нижний колонтитул футера */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    text-align: center;
    padding: 10px 0;
    z-index: 1000; /* Чтобы футер отображался поверх других элементов */
}
/* Устанавливаем отступ для контента, чтобы он не залезал в футер */
.content {
    padding-bottom: 60px; /* Высота футера */
    margin-bottom: 50px; /* Отступ снизу контента */
}